[submodule "zetta_utils/internal"]
	path = zetta_utils/internal
	url = git@github.com:ZettaAI/internal.git
[submodule "specs"]
	path = specs
	url = git@github.com:ZettaAI/specs.git
[submodule "vscode_zutils"]
	path = vscode_zutils
	url = git@github.com:ZettaAI/vscode-zutils.git
