name: Integration Tests

on:
  workflow_dispatch:
env:
  WANDB_MODE: offline
  #SETUPTOOLS_ENABLE_FEATURES: legacy-editable

jobs:
  pytest_integration:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.11"
          - "3.12"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout from GitHub
        uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
          ssh-key: ${{ secrets.git_ssh_key  }}
          token: ${{ github.token }}
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.18.4'
      - name: Install CUE
        run: go install cuelang.org/go/cmd/cue@v0.6.0
      - name: Install Python dependencies
        run: |
          python install_zutils.py --mode=all --dockerfile --skip_apt
      - name: Run pytest
        run: cd tests/integration && coverage run -m pytest --run-integration .
        shell: bash -l {0}
      - name: Send coverage repot to codecov
        uses: codecov/codecov-action@v3
        with:
          files: /home/runner/work/zetta_utils/zetta_utils/coverage_integration.xml
